.todoItems {
  margin: 7px auto;
  width: 92%;
  padding-left: 7px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.todoItem,
.inprogress,
.done {
  font-size: 16px;
  width: 250px;
  overflow: hidden;
  word-wrap: break-word;
}
.todoItem ul li,
.inprogress ul li,
.done ul li {
  padding: 0 10px;
  list-style-position: inside;
}

.inprogress {
  color: #1ca806;
}
.done {
  color: #666;
  text-decoration: line-through;
}
